{% extends 'base/base.html' %}
{% block page_content %}
    {% if not pet_photos %}
        <h1 class='text-center'>No pet photos yet</h1>
        <div class=" row d-flex justify-content-center align-content-center">
            <!-- Button to Add a new Photo -->
            <a href="{% url 'create photo' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
        </div>

    {% else %}
        {% if pet_photos %}
            <h1 class='text-center'>All Pet Photos</h1>
            <div class="container mb-5">
            <div class="row mb-5">
            {% for pet_photo in pet_photos %}

                <div class="card ml-3 mb-3" style="width: 18rem;">
                    <!-- Image -->
                    <img src="{{ pet_photo.photo.url }}"
                         class="card-img-top" alt="Photo description">
                    <div class="card-body">
                        {% for pet in pet_photo.tagged_pets.all %}
                            <h5 class="card-title">{{ pet.name }}, age: {{ pet.date_of_birth }}</h5>

                            <!-- First 30 chars from the description -->
                            <p class="card-text">{{ pet.description|truncatechars:30 }}</p>
                            <!-- Button to the Photo Details Page -->
                            <a href="{% url 'photo details' pet_photo.id %}" class="btn btn-primary">See details</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}